* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.container {
    padding: .8rem;
    font-size: .8rem;
}

.main-container {
    padding: 1rem;
    width: 50vw;
    min-height: 50vh;
    margin: auto;
    border: 1px solid grey;
}

.header {
    padding: .5rem;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.body__day {
    padding: .5rem
}

.body__date {
    padding: .5rem;
    margin-bottom: 1rem;
}

.todo-input {
    border: 1px solid grey;
    padding: .3rem 1rem;
    width: 80%;
}

.add-todo {
    border: 1px solid grey;
    background-color: lightgrey;
    padding: .3rem 0;
    width: 15%;
    text-align: center;
    float: right;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1.1rem;
}

.todo-counter {
    padding: 1.5rem 0 0 0;
}

.todo-container {
    padding-top: 0;
    overflow: hidden;
}

.todo-container .todo-item {
    background-color: lightgrey;
    margin-bottom: .4rem;
    padding: .5rem .3rem .5rem 1rem;
    font-size: .8rem;
    border: 1px solid grey;
    display: block;
}

.hide {
    display: none;
}

.completed-container .todo-item {
    margin-bottom: .4rem;
    padding: .5rem .3rem .5rem 1rem;
    font-size: .8rem;
    color: lightgrey;
    text-decoration: line-through;
    border: 1px solid lightgrey;
}

.todo-item .delete-button {
    display: none;
}

.todo-container .todo-item:hover .delete-button {
    display: inline-block;
    background-color: red;
    color: white;
    padding: .45rem 1rem;
    text-align: center;
    float: right;
    cursor: pointer;
    margin: -.5rem -.3rem 0 0;
}

.todo-container .todo-item:hover .delete-button i {
    font-size: 1.1rem;
}

.completed-container .todo-item:hover .delete-button {
    display: none;
}

.controller-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.controller {
    background: none;
    font-weight: 600;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
}